.card__page__c {
  height: 100vh;
  width: 100vw;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quit__btn,
.complete__btn {
  position: absolute;
  top: 5%;
  right: 5%;
  font-size: 1.75rem;
  font-weight: bold;
  border-radius: 30px;
  background-color: var(--green);
  border: none;
  color: whitesmoke;
  height: 40px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quit__btn:hover,
.complete__btn:hover {
  opacity: 0.8;
}

.card__title {
  position: absolute;
  top: 5%;
  font-size: 6rem;
}
.cards__left {
  position: absolute;
  /* bottom: 40%; */
  right: 3%;
  font-size: 3.5rem;
}

.complete__btn {
  top: 55%;
  width: 250px;
  height: 50px;
}

.card {
  position: absolute;
  /* bottom: 45%; */
  top: 3%;
  left: 2%;
  box-shadow: 10px 10px 10px 10px black;
  border-radius: 15px;
}

.card,
.exercise,
.card__title {
  transition: opacity 0.3s ease-in-out;
  opacity: 1;
}

.deck,
.deck2 {
  position: absolute;
  bottom: 1%;
  left: 1%;
  border-radius: 8px;
  transform: scale(0.75);
  border: 2px solid var(--green);
  box-shadow: 10px 10px 10px 10px black;
}

.deck__transition {
  cursor: pointer;
  transition: all 0.75s ease-in-out;
  transform: scale(0.99);
  bottom: 64.5%;
}

.deck2,
.deck3 {
  z-index: -10;
}

.exercise {
  border-radius: 8px;
  border: 2px solid var(--green);
  /* height: 50vh;
  width: 50vw; */
  width: 400px;
  height: 550px;
  box-shadow: 10px 10px 10px 10px black;
}

.deck__hover:hover {
  cursor: pointer;
  transition: bottom 0.3s ease-in-out;
  /* transform: scale(0.8); */
  bottom: 5%;
}

#instructions {
  top: 87%;
  left: 42%;
}

.card__transition {
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
}
